* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-size: 1.2rem;
}
* input {
  cursor: text;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-areas: "nav" "main";
}

.nav {
  grid-area: "nav";
  background: rgb(2, 36, 61);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}
.nav__title h1, .nav__login-btn button,
.nav .menu-position span,
.nav .menu-arrow {
  cursor: pointer;
}
.nav__login-btn button {
  background: transparent;
  color: white;
  border: 0.2rem solid white;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.nav__login-btn button:hover {
  box-shadow: 0 0 0.5rem 0.1rem white;
}
.nav__login-btn button:active {
  box-shadow: none;
}
.nav .menu-position {
  position: relative;
  border-bottom: 0.2rem solid white;
}
.nav .menu-position .menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 10rem;
  padding: 0.3rem;
}
.nav .menu-position .menu span {
  text-align: right;
  border-bottom: 0.1rem solid black;
  padding: 0.3rem;
}

.transactions {
  grid-area: "main";
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.transactions__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.transactions__header span {
  font-size: inherit;
}
.transactions__header p {
  cursor: pointer;
}
.transactions__header p:hover {
  font-weight: bold;
}
.transactions__header p:active {
  font-weight: normal;
  text-decoration: underline;
}
.transactions__table {
  width: 100%;
  border-radius: 1.3rem;
  box-shadow: 0 0 0.5rem 0.1rem lightgray;
  border-collapse: collapse;
  overflow: hidden;
}
.transactions__table td,
.transactions__table th {
  padding: 1rem;
}
.transactions__table td span,
.transactions__table th span {
  cursor: pointer;
}
.transactions__table td span:hover,
.transactions__table th span:hover {
  font-weight: bold;
}
.transactions__table td span:active,
.transactions__table th span:active {
  font-weight: normal;
  text-decoration: underline;
}
.transactions__table thead {
  background: rgb(2, 36, 61);
  color: white;
}
.transactions__table tbody {
  text-align: center;
}
.transactions__table tbody tr:nth-child(even) {
  background: lightgray;
}

.login-form,
.signup-form, .delete-form {
  grid-area: "main";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.login-form input,
.signup-form input, .delete-form input {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid lightgray;
}
.login-form button,
.signup-form button, .delete-form button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid lightgray;
  background: transparent;
  cursor: pointer;
}
.login-form button:hover,
.signup-form button:hover, .delete-form button:hover {
  box-shadow: 0 0 0.5rem 0.1rem lightgray;
}
.login-form button:active,
.signup-form button:active, .delete-form button:active {
  box-shadow: none;
}
.login-form p,
.signup-form p, .delete-form p {
  color: red;
}

/*# sourceMappingURL=index.css.map */
