* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-size: 1.2rem;
  input {
    cursor: text;
  }
  button {
    cursor: pointer;
  }
}

html,
body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    'nav'
    'main';
}

.nav {
  grid-area: 'nav';
  background: rgb(2, 36, 61);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  &__title h1,
  &__login-btn button,
  .menu-position span,
  .menu-arrow {
    cursor: pointer;
  }
  &__login-btn button {
    background: transparent;
    color: white;
    border: 0.2rem solid white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    &:hover {
      box-shadow: 0 0 0.5rem 0.1rem white;
    }
    &:active {
      box-shadow: none;
    }
  }
  .menu-position {
    position: relative;
    border-bottom: 0.2rem solid white;
    .menu {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 1;
      background: white;
      color: black;
      border: 0.1rem solid black;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      width: 10rem;
      padding: 0.3rem;
      span {
        text-align: right;
        border-bottom: 0.1rem solid black;
        padding: 0.3rem;
      }
    }
  }
}

.transactions {
  grid-area: 'main';
  display: flex;
  flex-direction: column;
  padding: 2rem;
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    span {
      font-size: inherit;
    }
    p {
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
      &:active {
        font-weight: normal;
        text-decoration: underline;
      }
    }
  }
  &__table {
    width: 100%;
    border-radius: 1.3rem;
    box-shadow: 0 0 0.5rem 0.1rem lightgray;
    border-collapse: collapse;
    overflow: hidden;
    td,
    th {
      padding: 1rem;
      span {
        cursor: pointer;
        &:hover {
          font-weight: bold;
        }
        &:active {
          font-weight: normal;
          text-decoration: underline;
        }
      }
    }
    thead {
      background: rgb(2, 36, 61);
      color: white;
    }
    tbody {
      text-align: center;
      tr {
        &:nth-child(even) {
          background: lightgray;
        }
      }
    }
  }
}

.login-form,
.signup-form,
.delete-form,
.update-form {
  grid-area: 'main';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  input {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid lightgray;
  }
  button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid lightgray;
    background: transparent;
    &:hover {
      box-shadow: 0 0 0.5rem 0.1rem lightgray;
    }
    &:active {
      box-shadow: none;
    }
  }
  p {
    color: red;
  }
}

.confirmation {
  padding: 1rem;
  &__btns {
    display: flex;
    justify-content: space-evenly;
    button {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 0.1rem solid lightgray;
      background: transparent;
      &:hover {
        box-shadow: 0 0 0.5rem 0.1rem lightgray;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
}

.transaction {
  position: relative;
  grid-area: 'main';
  padding: 2rem;
  &__details {
    border: 0.1rem solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 1.3rem;
    box-shadow: 0 0 0.5rem 0.1rem lightgray;
  }
  &__date {
    display: flex;
    p {
      margin-right: 1rem;
    }
  }
  &__btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    button {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 0.1rem solid lightgray;
      background: transparent;
      &:hover {
        box-shadow: 0 0 0.5rem 0.1rem lightgray;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
}

.delete-window {
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 1;
  background: white;
  width: 50%;
  height: 30%;
  border-radius: 1.3rem;
  box-shadow: 0 0 0.5rem 0.1rem lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__btns {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    button {
      background: transparent;
      border: 1px solid lightgray;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      transition: all 0.3s;
      &:hover {
        box-shadow: 0 0 0.5rem 0.1rem lightgray;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
}

.create-transaction,
.update-transaction {
  grid-area: 'main';
  padding: 2rem;
  .confirm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    button {
      margin: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 0.1rem solid lightgray;
      background: transparent;
      &:hover {
        box-shadow: 0 0 0.5rem 0.1rem lightgray;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
  .form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    &__section,
    &__btns,
    &__errors {
      grid-column: 2 / span 1;
    }
    &__section {
      display: flex;
      flex-direction: column;
      input {
        border: 0.1rem solid rgb(204, 204, 204);
        outline-color: rgb(37, 132, 255);
        border-radius: 0.3rem;
        padding: 0.5rem 0.7rem;
      }
    }
    &__btns {
      display: flex;
      justify-content: space-evenly;
      button {
        background: transparent;
        border: 0.1rem solid lightgray;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        transition: all 0.3s;
        &:hover {
          box-shadow: 0 0 0.5rem 0.1rem lightgray;
        }
        &:active {
          box-shadow: none;
        }
      }
    }
  }
}

.not-found {
  grid-area: 'main';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button{
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid lightgray;
    background: transparent;
    &:hover {
      box-shadow: 0 0 0.5rem 0.1rem lightgray;
    }
    &:active {
      box-shadow: none;
    }
  }
}
